In [18]:
# alphabet counting for each position for every sequence
from Bio import SeqIO
from collections import Counter
import pandas as pd
cov_records = SeqIO.parse(open("data/cov/cov_all.fa"), "fasta")

def fasta_iterator(records):
    for record in records:
        yield record.id, record.seq, len(record.seq)

df = pd.DataFrame(fasta_iterator(cov_records), columns = ["ID", "Sequence", "Length"])
df

,ID,Sequence,Length
0,YP_009724390.1,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
1,BCG52831.1,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
2,QKS65476.1,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
3,QKS65488.1,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
4,QKS65608.1,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
...,...,...,...
30848,Spike|hCoV-19/Australia/NSW254/2020|2020-03-12...,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
30849,Spike|hCoV-19/Australia/NSW291/2020|2020-04-03...,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
30850,Spike|hCoV-19/Australia/NSW302/2020|2020-04-08...,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273
30851,Spike|hCoV-19/Switzerland/100079/2020|2020-03-...,"(T, R, G, V, Y, Y, P, D, K, V, F, R, S, S, V, ...",1180
30852,Spike|hCoV-19/Germany/BAV-MVP0124/2020|2020-03...,"(M, F, V, F, L, V, L, L, P, L, V, S, S, Q, C, ...",1273

In [25]:
import numpy as np
seq_array = df["Sequence"]
type(seq_array)
# # Sample 1D array of strings
# strings_array = np.array(["hello", "world", "numpy"])
# 
# # Find the maximum length of strings in the array
# max_length = max(len(s) for s in seq_array)
# 
# # Pad strings to have the same length and convert each to a list of characters
# chars_2d_list = [list(s.ljust(max_length)) for s in strings_array]
# 
# # Convert the list of lists into a 2D NumPy array of characters
# chars_2d_array = np.array(chars_2d_list)
# 
# print(chars_2d_array)

pandas.core.series.Series

In [37]:
def at(source, index):
    return source[index]
map(lambda x, i: x[i], seq_array)
def measure_position_dominance(position, target: pd.Series):
    result = Counter([element[position] for element in target])
    # return most common ratio
    # return result.most_common(1). / sum(result.values)
print(measure_position_dominance(0, seq_array))

TypeError: 'builtin_function_or_method' object is not iterable