In this session, we are going to see the post-process result of covid delta mutation escape mutant priority rank.

In [1]:
import pandas as pd
file_name = "extended_analyze_semantics_delta_bilstm_512.csv"
delta_df = pd.read_csv(file_name, sep='\t')
delta_df

       pos wt mut          prob     change  is_viable  is_escape   codon indep
0        2  F   A  7.775681e-05  2150.6333       True      False  3.527765e-10
1        2  F   C  2.815297e-05  2666.2922       True      False  6.883835e-06
2        2  F   D  5.020854e-07  2009.4619       True      False  5.212324e-11
3        2  F   E  1.228403e-05  2327.1394       True      False  7.534191e-16
4        3  V   A  1.159353e-06  1534.3430       True      False  5.124971e-05
...    ... ..  ..           ...        ...        ...        ...           ...
24125    2  F   S  7.167592e-05  1777.6849       True      False  5.124976e-05
24126    2  F   T  1.079369e-05  1696.6838       True      False  3.880541e-10
24127    2  F   V  1.586966e-03  1831.0867       True      False  6.883935e-06
24128    2  F   W  4.212665e-07  1683.0480       True      False  4.738233e-11
24129    2  F   Y  1.663047e-04  1572.5698       True      False  7.572219e-06

[24130 rows x 8 columns]

In [4]:
# Mark is_escape label manually

Empty DataFrame
Columns: [pos, wt, mut, prob, change, is_viable, is_escape, codon indep]
Index: []

In [5]:
"""Make rank of 'prob', 'change', 'codon indep'.
"""
rank_names = ['grammar rank', 'sem change rank', 'indep rank']
score_names = ['prob', 'change', 'codon indep']
def rank_helper(df, rank_names, score_names):
    df[rank_names] = df[score_names].rank(method="min", ascending=False)

rank_helper(delta_df, rank_names, score_names)
delta_df

,pos,wt,mut,prob,change,is_viable,is_escape,codon indep,grammar rank,sem change rank,indep rank
0,2,F,A,7.775681e-05,2150.6333,True,False,3.527765e-10,3503.0,20768.0,17400.0
1,2,F,C,2.815297e-05,2666.2922,True,False,6.883835e-06,5178.0,17592.0,8020.0
2,2,F,D,5.020854e-07,2009.4619,True,False,5.212324e-11,14020.0,21459.0,19711.0
3,2,F,E,1.228403e-05,2327.1394,True,False,7.534191e-16,6857.0,19795.0,24057.0
4,3,V,A,1.159353e-06,1534.3430,True,False,5.124971e-05,12222.0,23064.0,3168.0
...,...,...,...,...,...,...,...,...,...,...,...
24125,2,F,S,7.167592e-05,1777.6849,True,False,5.124976e-05,3621.0,22352.0,3113.0
24126,2,F,T,1.079369e-05,1696.6838,True,False,3.880541e-10,7139.0,22603.0,16915.0
24127,2,F,V,1.586966e-03,1831.0867,True,False,6.883935e-06,677.0,22146.0,7857.0
24128,2,F,W,4.212665e-07,1683.0480,True,False,4.738233e-11,14394.0,22648.0,19968.0
24129,2,F,Y,1.663047e-04,1572.5698,True,False,7.572219e-06,2431.0,22966.0,7223.0